h1{
    font-size: 50px;
}
body{
    font-family: 'Lobster', cursive;
    margin: 0px;
}
.org-highlight{
    color: rgb(90, 174, 230);
}
.name-highlight1{
    color: #424549;
}
.half-width h1{
    color: #424549;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(50deg, #3085e6,rgb(216, 183, 243));
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: aliceblue;
}
.Dream-Area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
    background-color: white;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #3085e6,rgb(245, 244, 247));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    size: 10px;
    color: #424549;
}